<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" id="stylesheet" href="styles/blogstyle.css">
    <meta charset="utf-8">
    <!---
    <script src="script.js"></script>
    --->
  </head>
  <body>
    <div id="post_container">
      <ul class='content'>
        {% for i in post %}
        <div class='post'>
          <li>
          <a href="{{i.link}}">
            <h2 class='postTitle'>{{ i.metadata['title'] }}</h2>
            <article>
              <!---
                post is a keyword argument that gets passed to the 
                render_template function in the flask_boiler_plate file
                this template is rendered in the blog_home_page function

                the value of post is a list of Post objects, you can find 
                the class defintion in post.py
              --->
              {{i.teaser | safe}}
            </article>
          </a>
          </li>
        </div>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
